article{
	float: left;
	background-color: yellow;
	width: 70%;
	height: 100%;
}
aside{
	background-color: grey;
	float: left;	
	height: 70%;
	width: 15%;
}

body{
	margin: 2%;
}

.containerpie{
	background-color: blue;
	float: left;
	height: 150px;
	margin-left: 15%;
	width: 15%;
}

.containerprincipal{
	background-color: brown;
	height: 500px;
	width: 100%;
}

#divlogomontana{
	background-color: red;
	float: left;
	height: 150px;
	width: 15%;
}

#divimgslalom{
	background-color: blue;
	height: 100%;
	width: 8%;
	float:left;
}

#divrestologo{
	background-color: green;
	float: left;
	height: 150px;
	width: 75%;
}

footer{}

header{
	background-color: black;
	height: 150px;
	width: 100%;
}

#imglogomontana{
	height: 150px;
	width: 100%;
}

#imgpie{
	height: 150px;
	width: 100%;
}

#imgrestologo{
	height:150px;
	width:70%;
}

.imgslalom{
	float: left;
	height: 50px;
	width: 100%;
}

.divconteidodinamico{
	background-color: green;
	float: right;
	width: 92%;
	height: 100%;
}

section {
	background-color: red;
	float: left;	
	height: 70%;
	width: 75%;
}


